<section data-ng-controller="HomeController" ng-init='contact()' >

	<!-- content -->
	<div class="main">
		<div class="contact">				
			<div class="contact_info">
				<h2>get in touch</h2>
		 		<div class="map">
		   			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d424396.3176723366!2d150.92243255000002!3d-33.7969235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney+NSW%2C+Australia!5e0!3m2!1sen!2sin!4v1430912648478" width="100%" height="250" frameborder="0" style="border:0"></iframe>
		   		</div>
			</div>
		  	<div class="contact-form">
		  			<div ng-show="error" class="text-center text-danger">
						<strong ng-bind="error"></strong>
					</div>
					<div ng-show="success" class="text-center text-warning">
						<strong ng-bind="success"></strong>
					</div>
			  	 	<h2>Contato</h2>
		 	    	<form name="form"  id="form" ng-submit="sendContact()" novalidate autocomplete="off">
				    	<div>
					    	<span><label>Nome</label></span>
					    	<span><input ng-model="userContact.name" name="name" type="text" class="textbox"></span>
					    </div>
					    <div>
					    	<span><label>E-mail</label></span>
					    	<span><input name="email" ng-model="userContact.email" type="email" required class="textbox"></span>
					    	<div ng-show="form.email.$touched&&(form.email.$error.email||form.email.$error.required)">Fale seu email.</div>
					    </div>
					    <div>
					     	<span><label>Celular</label></span>
					    	<span><input name="phone" ng-model="userContact.phone" type="text" class="textbox"></span>
					    </div>
					    <div>
					    	<span><label>Assunto</label></span>
					    	 <select id="subject" ng-model="userContact.subject" name="subject" required class="form-control" required="required">
	                            <option value="duvida">Dúvida</option>
	                            <option value="sugestao">Sugestão</option>
	                            <option value="anuncio">Anunciar</option>
	                        </select>
					    	 <div ng-show="form.subject.$touched&&form.subject.$error.required">Escolha uma opção</div>
					    </div>
					    <div>
					    	<span><label>Content</label></span>
					    	<span><textarea ng-model="userContact.content"  required name="content"> </textarea></span>
					    	 <div ng-show="form.content.$touched&&form.content.$error.required">Precisamos de sua mensagem!</div>

					    </div>
				  	 	<div>
					   		<span><input type="submit" ng-class="{disabled:form.$error.invalid}" ng-disabled="form.$error.required"  class="" value="Mande seu Contato!"></span>
					  	</div>
			    	</form>
		    </div>
			<div class="clearfix"></div>		
		</div>
	</div>
</section>