<section data-ng-controller="HomeController" ng-init='inicialCall()' >
	<div class="arriv">
				<div class="container">
					<div class="arriv-top">
					    <!-- Jssor Slider Begin -->
					   	<div class="col-md-12">
				              <div id="owl-demo" class="owl-carousel"  >

				                <div class="item" ng-repeat="image in mainContent.images" ng-init="$last?initCarousel('owl-demo'):angular.noop()">
				                	<a ng-href="{{image.redirectUrl||''}}" target="_blank">
				                		<img  class="img-responsive" ng-src="{{image.url}}" alt="{{image.name}}"> 
			                		</a>
			                		 <p ng-if="image.subtitle" ng-bind="image.subtitle"></p>
			                	</div>
				                <!-- <div class="item"><img class="img-responsive" src="plugin/owl-carousel/fullimage2.jpg" alt="GTA V"></div>
				                <div class="item"><img class="img-responsive" src="plugin/owl-carousel/fullimage3.jpg" alt="Mirror Edge"></div> -->

				              </div>
			            </div>
						<div class="clearfix"> </div>
					
					</div>		 
					<div ng-if="frontCollections.length>0" class="arriv-top">

						<div ng-if="frontCollections.length>0" class="col-md-4 " ng-class="frontCollections[0].slug">
							<label class="gender-label" ng-bind="frontCollections[0].title"> </label>
							<a  ng-href="/#!/products/{{frontCollections[0].gender?'gender':'collection'}}/{{frontCollections[0].slug}}" ng-mouseenter="picture=true" ng-mouseleave="picture=false">
								<img ng-hide="picture"  src="images/icons/masculinopb.png">
								<img ng-show="picture" src="images/icons/masculino.png">
							</a>
							<!-- <div class="arriv-info" >
								<h3 ng-bind="frontCollections[0].title"></h3>
								<p ng-bind="frontCollections[0].description"> </p>
								<div class="crt-btn">
									<a ng-href="/#!/products/{{frontCollections[0].gender?'gender':'collection'}}/{{frontCollections[0].slug}}">DA UMA OLHADA!</a>
								</div>
							</div> -->
						</div>
						<div ng-if="frontCollections.length>1" class="col-md-4 "  ng-class="frontCollections[1].slug">
							<label class="gender-label" ng-bind="frontCollections[1].title"> </label>
							<a  ng-href="/#!/products/{{frontCollections[1].gender?'gender':'collection'}}/{{frontCollections[1].slug}}" ng-mouseenter="picture=true" ng-mouseleave="picture=false">
								<img ng-hide="picture"  src="images/icons/femininopb.png">
								<img ng-show="picture" src="images/icons/feminino.png">
							</a>
							<!-- <div class="arriv-info" >
								<h3 ng-bind="frontCollections[1].title"></h3>
								<p ng-bind="frontCollections[1].description"> </p>
								<div class="crt-btn">
									<a ng-href="/#!/products/{{frontCollections[1].gender?'gender':'collection'}}/{{frontCollections[1].slug}}">DA UMA OLHADA!</a>
								</div>
							</div> -->
						</div>
						<div  ng-if="frontCollections.length>2" class="col-md-4 " ng-class="frontCollections[2].slug">
							<label class="gender-label" ng-bind="frontCollections[2].title"> </label>
							<a  ng-href="/#!/products/{{frontCollections[2].gender?'gender':'collection'}}/{{frontCollections[2].slug}}" ng-mouseenter="picture=true" ng-mouseleave="picture=false">
								<img ng-hide="picture"  src="images/icons/infantilpb.png">
								<img ng-show="picture" src="images/icons/infantil.png">
							</a>
							<!-- <div class="arriv-info"  >
								<h3 ng-bind="frontCollections[2].title" ></h3>
								<p ng-bind="frontCollections[2].description"> </p>
								<div class="crt-btn">
									<a ng-href="/#!/products/{{frontCollections[2].gender?'gender':'collection'}}/{{frontCollections[2].slug}}">DA UMA OLHADA!</a>
								</div>
							</div> -->
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
	</div>
			
	<div class="special">
		<div class="container">
			<h3>Em destaque</h3>
			<div class="special-top">
				<ul class="grid_2">
					<li ng-repeat="product in destaque">
							<a ng-href="/#!/product/{{product.slug}}" ng-mouseenter="picture=true" ng-mouseleave="picture=false">
				   	   	 		<img ng-hide="product.images.length>1&&picture" ng-src="{{product.images[0].url}}"   class="img-responsive" alt=""/>
				   	   	 		<img ng-if="product.images.length>1" ng-show="picture" ng-src="{{product.images[1].url}}"   class="img-responsive" alt="" />
				   		  	</a>
							<div class="special-info grid_1 simpleCart_shelfItem">
								<h5 ng-bind="product.title"></h5>
								<div class="item_add"><span class="item_price"><h6 >APENAS <span ng-bind="product.priceFormatted"></span></h6></span></div>
							</div>
					</li>
					<div class="clearfix"> </div>
				</ul>
			</div>
		</div>
	</div>

	<div class="frete-gratis margb55">
		<div class="container">
			<a href="#">
				<img  src="modules/core/img/icons/M1.png">
				<h3>Frete Gratis!</h3>
			</a>
		 	
		</div>
	</div>


	<div class="parcerias margb60 margt20">
		<div class="container">
			<a href="#">
				<img class="icon-parcerias" src="modules/core/img/icons/Parceiros1.png">
				<h3>Parcerias</h3>
			</a>
			<!-- Jssor Slider Begin -->
		   	<div class="col-md-12">
              <div id="owl-demo1" class="owl-carousel"  >

                <div class="item" ng-repeat="image in mainContent.images" ng-init="$last?initCarousel('owl-demo1'):angular.noop()">
                	<a ng-href="{{image.redirectUrl||''}}" target="_blank">
                		<img  class="img-responsive" ng-src="{{image.url}}" alt="{{image.name}}"> 
            		</a>
            		 <p ng-if="image.subtitle" ng-bind="image.subtitle"></p>
            	</div> 
              </div>
            </div>
			<div class="clearfix"> </div>
		</div>
	</div>

<!-- Important Owl stylesheet -->
 
<!-- Owl Theme -->
 	<!-- Include Owl js plugin -->

			<style>
			    #owl-demo .item img{
			        display: block;
			        width: 100%;
			        height: auto;
			    }
			    #owl-demo .item{
			    	text-align: center;
			    }
			    #owl-demo .item p{
			    	color:#000000;
			    	width:100%;
			    }

			    #owl-demo1 .item img{
			        display: block;
			        width: 100%;
			        height: auto;
			    }
			    #owl-demo1 .item{
			    	text-align: center;
			    }
			    #owl-demo1 .item p{
			    	color:#000000;
			    	width:100%;
			    }
		    </style>
	 
</section>