<section data-ng-controller="AuthenticationController" data-ng-init="">

<!-- content -->
	<div class="container">
		<div class="main">
			<!-- start registration -->
			<div class="registration">
				<div class="registration_left">
					<h2>new user? <span> create an account </span></h2>
					<!-- [if IE] 
					    < link rel='stylesheet' type='text/css' href='ie.css'/>  
				 	[endif] -->  
					  
					<!-- [if lt IE 7]>  
					    < link rel='stylesheet' type='text/css' href='ie6.css'/>  
					<! [endif] -->  
					<script>
						(function() {
					
							// Create input element for testing
							var inputs = document.createElement('input');
							
							// Create the supports object
							var supports = {};
							
							supports.autofocus   = 'autofocus' in inputs;
							supports.required    = 'required' in inputs;
							supports.placeholder = 'placeholder' in inputs;
						
							// Fallback for autofocus attribute
							if(!supports.autofocus) {
								
							}
							
							// Fallback for required attribute
							if(!supports.required) {
								
							}
						
							// Fallback for placeholder attribute
							if(!supports.placeholder) {
								
							}
							
							// Change text inside send button on submit
							var send = document.getElementById('register-submit');
							if(send) {
								send.onclick = function () {
									this.innerHTML = '...Sending';
								}
							}
					
						})();
					</script>

				 	<div class="registration_form">
					 	<!-- Form -->
						<form id="registration_form" name="form" ng-submit="signup()" novalidate autocomplete="off">
							<div ng-show="error" class="text-center text-danger">
								<strong ng-bind="error"></strong>
							</div>
							<div>
								<label>
									<input  placeholder="first name:" name="firstName" data-ng-model="user.firstName" type="text" tabindex="1" required >
								</label>
							      <div ng-show="form.firstName.$touched&&form.firstName.$error.required">Fale seu Nome.</div>
							</div>
							<div>
								<label>
									<input placeholder="last name:" name="lastName" data-ng-model="user.lastName" type="text" tabindex="2" required >
								</label>
							      <div ng-show="form.lastName.$touched&&form.lastName.$error.required">Fale seu Ultimo Nome.</div>
							</div>
							<div>
								<label>
									<input placeholder="email address:" name="email"  data-ng-model="user.email" type="email" tabindex="3" required>
								</label>
								<div ng-show="form.email.$touched&&(form.email.$error.email||form.email.$error.required)">Fale seu email.</div>
							</div>
							<div class="sky-form">
								<div class="sky_form1">
									<ul>
										<li><label class="radio left"><input data-ng-model="user.gender" type="radio" name="radio" value="masculino" checked=""><i></i>Male</label></li>
										<li><label class="radio"><input data-ng-model="user.gender" type="radio" value="feminino" name="radio"><i></i>Female</label></li>
										<div class="clearfix"></div>
									</ul>
								</div>
							</div>
							<div>
								<label>
									<input placeholder="password" name="password" id="user-password" ng-minlength=7 ng-model="user.password" type="password" tabindex="4" required>
								</label>
								<div ng-show="form.password.$touched&&form.password.$invalid">
									<div ng-show="form.password.$touched&&form.password.$error.minlength">Senha deve ser maior que 7 caracteres.</div>
									<div ng-show="form.password.$touched&&form.password.$error.required">Precisamos de uma senha!</div>

								</div>

							</div>						
							<div>
								<label>
									<input placeholder="retype password" name="repeatPassword" id="user.repeatPassword"  ng-model="user.repeatPassword" type="password" tabindex="4" pw-check="user.password" required>
								</label>
								<div ng-show="form.repeatPassword.$touched&&form.repeatPassword.$error.pwmatch">Senha deve ser igual</div>
								<div ng-show="form.repeatPassword.$touched&&form.repeatPassword.$invalid">	
									
									<div ng-show="form.repeatPassword.$touched&&form.repeatPassword.$error.required">Continuamos precisando de senha!</div>
								</div>
							</div>	
							<div>
								<input type="submit" value="create an account" id="register-submit">
							</div>
							<div class="sky-form">
								<label class="checkbox"><input type="checkbox" data-ng-model="user.agreeWithTerms" name="checkbox" ><i></i>i agree to shoppe.com &nbsp;<a class="terms" href="#"> terms of service</a> </label>
							</div>
						</form>
						<!-- /Form -->
					</div>
				</div>
				<div class="registration_left">
					<h2>existing user</h2>
				 	<div class="registration_form">
					 <!-- Form -->
						<form id="registration_form" action="contact.php" method="post">
							<div>
								<label>
									<input placeholder="email:" type="email" tabindex="3" required>
								</label>
							</div>
							<div>
								<label>
									<input placeholder="password" type="password" tabindex="4" required>
								</label>
							</div>						
							<div>
								<input type="submit" value="sign in" id="register-submit">
							</div>
							<div class="forget">
								<a href="#">forgot your password</a>
							</div>
						</form>
						<!-- /Form -->
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- end registration -->
		</div>
	</div>

<!-- end content -->

</section>