<a class="continue" ng-href="#!/products">Continue comprando</a>
<div class="price-details">
	<h3>Detalhes dos valores</h3>
	<span>Total</span>
	<span class="total1" ng-bind="order.totalValueItemsFormatted"></span>
	<span>Desconto</span>
	<span class="total1"  ng-bind="'-' + order.totalDiscountFormatted"></span>
	<span>Valor de entrega</span>
	<span class="total1"  ng-bind="order.totalShippingFormatted"></span>
	<div class="clearfix"></div>				 
</div>	
<ul class="total_price">
	<li class="last_price"> <h4>TOTAL</h4></li>	
	<li class="last_price"><span  ng-bind="order.totalFormatted"></span></li>
	<div class="clearfix"> </div>
</ul>
<div class="clearfix"></div>
<a ng-if="cartPage" class="order" ng-href="#!/checkout">Comprar</a>
<input ng-if="reviewPage" class="order"  type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-assina.gif"  alt="Pague com PagSeguro - é rápido, grátis e seguro!"  ng-click="submitOrder()" />
<div ng-if="cartPage" class="total-item">
	<h3>Opcional</h3>
	<h4>Código de desconto ou Cupon</h4>
	<input type='text' placeholder="Cupon"  ng-model='order.discountCode._id' > <br/><br/>
	<a class="cpns" href="" ng-click="applyDiscount(order.discountCode._id)">Aplicar desconto</a><br/><br/>
	<h4>Cep de entrega</h4><br/>
	<form id='form' name="form"  action="javacript:void(0)"  novalidate>
	<input placeholder="Cep ex:52031-300" name="cep" ng-model='order.shippingAddress.cep' type="text" tabindex="2"  mask='ddddd-ddd' mask-repeat='1' mask-restrict='reject' mask-clean='true' mask-validate='true' mask-limit='true' required ><br/><br/>
	<a class="cpns" href="" ng-click="!form.cep.$invalid?applyShippingAddress(order.shippingAddress.cep) : angular.noop() ">Aplicar cep</a>
	</form>
	<!-- <p><a ng-href="#!/login">Log In</a> to use accounts - linked coupons</p> -->
</div>