<section data-ng-controller="CheckoutController" data-ng-init="cartInit()"  >
	<!-- content -->
<div class="container" >
	<div class="check" ng-if="order.totalItems>0">	
	 	<div class="col-sm-8 cart-items">
	 		<h1>Meu carrinho ({{order.totalItems}})</h1>
			
 			<div  class="cart-header" ng-repeat="product in order.products" >
		 		 
		 		<div class="icon icons-close_1" ng-click='cartRemoveItem(product._id)'> </div>
			 	<div class="cart-sec simpleCart_shelfItem">
					<div class="cart-item cyc">
				 		<img placehold="{{product.product.images[0].url}}" class="img-responsive" alt=""/>
					</div>
				   	<div class="cart-item-info">
						<h3 ng-bind="product.product.title+' - '+product.type"></h3>
						<ul class="qty">
							<li><p><span ng-bind="product.genderSlug"></span></p></li>
							<li><p>Tamanho : <span ng-bind="product.size"></span></p></li>
							<li><p>Quantidade : <i class="fa fa-minus fa-lg" ng-click="(product.quantity>1)&&(product.quantity=product.quantity-1)&&updateQuantity(product._id,product.quantity)"></i> <input type='number' class='quantity' ng-model='product.quantity' min="1" max="4" ng-change="updateQuantity(product._id,product.quantity)" ng-value="product.quantity"><i class="fa fa-plus fa-lg" ng-click="(product.quantity<=3)&&(product.quantity=product.quantity+1)&&updateQuantity(product._id,product.quantity)"></i></p></li>
						</ul>
					 	<div class="delivery">
				 			<p><strong>Total :&nbsp;&nbsp;</strong> <span ng-bind="product.priceWithQuantityFormatted"></span></p>
					 		<div class="clearfix"></div>
				        </div>	
					 	<div class="delivery" ng-show="order.shippingAddress.prazo">
						 	<p><strong>Valor de Servico de entrega:&nbsp;&nbsp;</strong><span ng-bind="order.totalShippingFormatted"></span></p>
						 	<br/>
						 	<p >Entregamos em até &nbsp;
						 	<span ng-bind="order.shippingAddress.prazo"> </span></p>
					 		<div class="clearfix"></div>
				        </div>		
				   	</div>
			   		<div class="clearfix"></div>
			  	</div>
		 	</div>
		</div>
		<div class="col-sm-4 cart-total" ng-include="'/modules/checkout/views/checkoutprocess/cart-side-bar.html'" onload="cartPage=true">
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="check" ng-if="order.totalItems<=0">
		<div class="col-md-9 cart-items">
	 		<h1>Você não possui nada no seu carrinho :(</h1>
			<h3><a href="#!/products"> Continue Comprando :) </a></h3>
		</div>
	</div>
</div>
</section>