<!-- content -->
<div class="container" data-ng-controller="CheckoutController" data-ng-init="checkout()" >
	<div class="main">
		<!-- <div class="contact_info">
			<h2>Checkout!</h2>
    	 		<div class="map">
		   			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d424396.3176723366!2d150.92243255000002!3d-33.7969235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney+NSW%2C+Australia!5e0!3m2!1sen!2sin!4v1430912648478" width="100%" height="250" frameborder="0" style="border:0"></iframe>
		   		</div>
			</div> -->
	  	<div class="checkout-options">
	  		<h2>Identificação</h2>
	  	 	<div class="checkout-options--noregister">
		    	<label class="checkout-btn"><a href="#!/shipping">Comprar sem Cadastro</a></label>
		    </div>
		    <div class="or">
		    	<label>ou</label>
		    </div>
		    <div class="checkout-options--register">
		    	<label class="login checkout-btn"><a href='#!/login?redirect=shipping'>Login</a></label>
		    	<label class="register">Sem Cadastro? <a href='#!/login?redirect=shipping'>Registre-se</a></label>
		    </div>
		    <div class="checkout-options-disclaimer">
		    	<label><i class="fa fa-check"></i> Agilize sua compra</label>
		    	<label><i class="fa fa-check"></i> Salve seus dados para compras futuras</label>
		    </div>
	    </div>
		<div class="clearfix"></div>		
	</div>
</div>