<section data-ng-controller="CheckoutController" data-ng-init="reviewOrder()"  >
	<!-- content -->
<div class="container">
	<div class="check" ng-if="order.totalItems>0">	
	 	
	 	<div class="col-md-8 cart-items">
	 		<div >
				<h1>Avalie sua compra:</h1>
				
				<div class="margb25">
					
					<h3>Usuario:</h3>
					<div>
						<strong> Nome:</strong>
						<span ng-bind='order.user.displayName'>	</span>
					</div>
					<div>
						<strong> Email:</strong>
						<span ng-bind='order.user.email'>	</span>
					</div>
					<a href="#!/shipping?edit=true">Editar</a> 
				</div>

				<h3>Endereço de entrega:</h3>
				<div class="row margb30">
					<div class="col-md-4">
						<div >
							<strong> Rua:</strong>
							<span ng-bind='order.shippingAddress.address'>	</span>
						</div>
						<div >
							<strong> Número:</strong>
							<span ng-bind='order.shippingAddress.number'>	</span>
						</div>
						<div>
							<strong> CEP:</strong>
							<span ng-bind='order.shippingAddress.cep'>	</span>
						</div>
						<div>
							<strong> Complemento:</strong>
							<span ng-bind='order.shippingAddress.complemento'>	</span>
						</div>
						
					</div>
					<div class="col-md-6">
						<div>
							<strong> Bairro:</strong>
							<span ng-bind='order.shippingAddress.bairro'>	</span>
						</div>
						<div>
							<strong> Cidade:</strong>
							<span ng-bind='order.shippingAddress.city'>	</span>
						</div>
						<div>
							<strong> Estado:</strong>
							<span ng-bind='order.shippingAddress.state'>	</span>
						</div>
						<div>
							<strong> Pais:</strong>
							<span > Brasil	</span>
						</div>
						<a href="#!/shipping?edit=true">Editar</a> 
					</div>
				</div>

			</div>
	 		<h1>Carrinho ({{order.totalItems}})</h1>
			
 			<div  class="cart-header" ng-repeat="product in order.products" >
		 		<!-- <div class="close1" ng-click='cartRemoveItem(product._id)'> </div> -->
			 	<div class="cart-sec simpleCart_shelfItem">
					<div class="cart-item cyc">
				 		<img ng-src="{{product.product.images[0].url}}" class="img-responsive" alt=""/>
					</div>
				   	<div class="cart-item-info">
						<h3 ng-bind="product.product.title+' - '+product.type"></h3>
						<ul class="qty">
							<li><p><span ng-bind="product.genderSlug"></span></p></li>
							<li><p>Tamanho : <span ng-bind="product.size"></span></p></li>
							<li><p>Quantidade : <span ng-bind="product.quantity"></span></p></li>
						</ul>
					 	<div class="delivery">
						 	<p><strong>Total :&nbsp;&nbsp;</strong> <span ng-bind="product.priceWithQuantityFormatted"></span></p>
					 		<div class="clearfix"></div>
				        </div>	
					 	<div class="delivery" ng-show="order.shippingAddress.prazo">
						 	<p><strong>Valor de Servico de entrega:&nbsp;&nbsp;</strong><span ng-bind="order.totalShippingFormatted"></span></p>
						 	<br/>
						 	<p >Entregamos em até &nbsp;
						 	<span ng-bind="order.shippingAddress.prazo"> </span></p>
					 		<div class="clearfix"></div>
				        </div>	
				   	</div>
			   		<div class="clearfix"></div>
			  	</div>
		 	</div>
		</div>
		<div class="col-md-4 cart-total" ng-include="'/modules/checkout/views/checkoutprocess/cart-side-bar.html'" onload="reviewPage=true">
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="check" ng-if="order.totalItems<=0">
		<div class="col-md-9 cart-items">
	 		<h1>Você não possui nada no seu carrinho :(</h1>
			<h3><a href="#!/products"> Continue Comprando :) </a></h3>
		</div>
	</div>
</div>
</section>



