<section class="shipping-page" data-ng-controller="CheckoutController" data-ng-init="shipping()">

<!-- content -->
	<div class="container">
		<div class="main">
			<!-- start registration -->
			<div class="registration ">
				<div class="col-md-12">
					<h2 ng-show="!Authentication.user">Novo usuario </h2>
					<!-- [if IE] 
					    < link rel='stylesheet' type='text/css' href='ie.css'/>  
				 	[endif] -->  
					  
					<!-- [if lt IE 7]>  
					    < link rel='stylesheet' type='text/css' href='ie6.css'/>  
					<! [endif] -->  
				 	<div class="registration_form">
					 	<!-- Form -->
						<form id="registration_form" name="form" action="javacript:void(0)" novalidate >
							<div ng-if="!Authentication.user">
								<div>
									<label>
										<input ng-model="user.fullName" placeholder="Name:" type="text" tabindex="1" required autofocus>
									</label>
								</div>
								<!-- <div>
									<label>
										<input placeholder="last name:" type="text" tabindex="2" required autofocus>
									</label>
								</div> -->
								<div>
									<label>
										<input placeholder="email address:" name="email"  data-ng-model="user.email" type="email" tabindex="2" required>
									</label>
									<div ng-show="form.email.$touched&&(form.email.$error.email||form.email.$error.required)">Fale seu email.
									</div>

								</div>
								<div class="sky-form">
									<div class="sky_form1">
										<ul>
											<li><label class="radio left"><input tabindex="3" ng-model="user.gender" value="masculino" type="radio" name="gender" ><i></i>Masculino</label></li>
											<li><label class="radio"><input tabindex="4" ng-model="user.gender" value="feminino" type="radio"   name="gender"><i></i>Feminino</label></li>
											<div class="clearfix"></div>
										</ul>
									</div>
								</div>
							</div>
 							<div ng-if="Authentication.user">
								Olá, {{user.displayName}} <span>Não é você? <a href="/auth/signout">Logout!</a> </span>
							</div>
							
							<div ng-show="Authentication.user&&Authentication.user.address!==''&&Authentication.user.address.length>0">
								<select ng-model="selectedSavedAddress" ng-change="selectDeliveryAddress(selectedSavedAddress)">
									<option value="">Selecione um endereço</option>
									<option ng-selected="{{addressSaved._id===address._id}}"  ng-repeat="addressSaved in user.address" ng-bind="addressSaved.name||(addressSaved.address+' '+addressSaved.number+' '+addressSaved.city)" ng-value="addressSaved._id"
									></option>
								</select>
								<button ng-model="address.newAddress" name="newAddresslink" ng-click="address.openAddressForm = true">
									<label ng-show="address._id===undefined">Adicionar novo endereço</label>
									<label ng-show="address._id!==undefined">Editar endereço</label>
								</button>
								<p ng-show="address._id!==undefined">Deseja apagar esse endereço? <a href="#!/user/profile">Click aqui.</a></p>
							</div>
							<!-- <label ng-show="form.newAddresslink.$touched">new address</label>
							<label ng-bind="address.openAddressForm!==undefined"></label> -->
							<!-- ng-show="address.new||(user===''&&user.address === [])" -->
							<div ng-show="Authentication.user===''||Authentication.user&&Authentication.user.address.length<=0||address.openAddressForm!==undefined">
								<label ng-show="address._id===undefined">Precisamos de seu endereco! :)</label>
								<label ng-show="address._id!==undefined">Editando o endereço</label>
								
								<div class="sky-form" ng-show="Authentication.user&&address._id===undefined">
									<label class="checkbox"><input tabindex="5" type="checkbox" data-ng-model="address.saveaddress" name="saveaddress"   ><i></i>Salvar o endereço</label>
								</div>
								<div ng-show="error" class="text-center text-danger">
									<strong ng-bind="error"></strong>
								</div>
								<div class="margb20" ng-if="Authentication.user&&address.saveaddress">
									<label>
										<input placeholder="Nome do endereco" name="name" ng-model="address.name" type="text" tabindex="6"   autofocus>
									</label> 
									<div>
										<span>
											Nome do endereço é opcional.
										</span>
									</div>
								</div>	
								<div>
									<label>
										<input placeholder="Cep ex:52031-300" name="cep" ng-model="address.cep" type="text" tabindex="7"  mask='ddddd-ddd' mask-repeat='1' mask-restrict='reject' mask-clean='true' mask-validate='true' mask-limit='true' ng-blur="!form.cep.$invalid? getAddress(address.cep) : angular.noop()" required autofocus>
									</label>
									<div ng-show="form.cep.$touched&&form.cep.$invalid">Coloca o CEP</div>
									<div ng-show="!address.blockAll">Não foi possível achar seu cep ou ocoreu um erro na busca. <br/> Por favor preencha os campos a seguir.</div>
									<div>
										<span>
											Não sabe seu cep? Click <a target="_blank" href="http://www.buscacep.correios.com.br/sistemas/buscacep/">Aqui</a>
										</span>
									</div>
								</div>
								<div>
									<label>
										<input placeholder="Numero" ng-model="address.number" type="text" tabindex="8" name="number"  required autofocus>
									</label>
									<div ng-show="form.number.$touched&&form.number.$error.required">Por favor coloca o número</div>
								</div>
								<div>
									<label>
										<input placeholder="Complemento" ng-model="address.complemento" type="text" tabindex="9" name="complemento" autofocus>
									</label>
								</div>		
								<div>
									<label>
										<input placeholder="Endereço"  ng-model="address.address" ng-disabled="address.blockAll" type="text" tabindex="10" name="address"  required autofocus>
									</label>
									<div ng-show="form.address.$touched&&form.address.$error.required">Por favor coloca o endereço</div>
								</div>	
								<div>
									<label>
										<input placeholder="Bairro"  ng-disabled="address.blockAll" ng-model="address.bairro" type="text" tabindex="11" name="bairro" autofocus>
									</label>
									<!-- <div ng-show="form.number.$touched&&form.number.$error.required">Por favor coloca o endereço</div> -->
								</div>	
								<div>
									<label>
										<input placeholder="Cidade" ng-disabled="address.blockAll"  ng-model="address.city" type="text" tabindex="12" name="city" required autofocus>
									</label>
									<div ng-show="form.city.$touched&&form.city.$error.required">Por favor coloca a cidade</div>
								</div>						
								<div>
									<label>
										<select  class="sky-form select" ng-model="address.state" tabindex="13" ng-disabled="address.blockAll" name="state"  required autofocus>
											<option value="">Selecione</option>
											<option value="AC">Acre</option>
											<option value="AL">Alagoas</option>
											<option value="AP">Amapá</option>
											<option value="AM">Amazonas</option>
											<option value="BA">Bahia</option>
											<option value="CE">Ceará</option>
											<option value="DF">Distrito Federal</option>
											<option value="ES">Espirito Santo</option>
											<option value="GO">Goiás</option>
											<option value="MA">Maranhão</option>
											<option value="MS">Mato Grosso do Sul</option>
											<option value="MT">Mato Grosso</option>
											<option value="MG">Minas Gerais</option>
											<option value="PA">Pará</option>
											<option value="PB">Paraíba</option>
											<option value="PR">Paraná</option>
											<option value="PE">Pernambuco</option>
											<option value="PI">Piauí</option>
											<option value="RJ">Rio de Janeiro</option>
											<option value="RN">Rio Grande do Norte</option>
											<option value="RS">Rio Grande do Sul</option>
											<option value="RO">Rondônia</option>
											<option value="RR">Roraima</option>
											<option value="SC">Santa Catarina</option>
											<option value="SP">São Paulo</option>
											<option value="SE">Sergipe</option>
											<option value="TO">Tocantins</option>
										</select>
									</label>
									<div ng-show="form.state.$touched&&form.state.$error.required">Por favor coloca o estado</div>
								</div>
								<div>
									<label>
										BRASIL
										<input ng-model="address.country" type="hidden"/>
										<input ng-model="address._id" type="hidden"/>

									</label>
								</div>
							</div>
							<div>
								<input type="submit" tabindex="14" ng-class="{disabled:form.$error.required}" ng-disabled="form.$error.required" ng-click="submitShipping(address,user)" value="Continuar" id="shipping-submit">
							</div>
							<!-- <div class="sky-form">
								<label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>i agree to shoppe.com &nbsp;<a class="terms" href="#"> terms of service</a> </label>
							</div> -->
						</form>
						<!-- /Form -->
					</div>
				</div>
				
				<div class="clearfix"></div>
			</div>
			<!-- end registration -->
		</div>
	</div>

<!-- end content -->

</section>