<section data-ng-controller="SettingsController" data-ng-init="favoritos()"  >
	<!-- content -->
<div class="container">
	<div class="user-settings">	
	 	<div class="col-md-2  desktop-only side-bar" ng-include="'/modules/coreUsers/views/settings/user-settings-side-bar.html'"  onload="favorite_li=true">
		</div>
		<div class="col-md-10 cart-items">
	 		<h1>Produtos favoritados! :D </h1>
	 		<div ng-show="favoritosProducts.length<=0">
	 			<h1>Você não gostou de nenhum Produto? :( </h1> 
	 			<h3><a href="#!/products"> Continue Procurando :) </a></h3>
	 		</div>
	 		<h2 ng-show="favoritosProducts.length>0"></h2>
 			<div class="cart-header" ng-repeat="product in favoritosProducts" >
			 	<div class="cart-sec simpleCart_shelfItem">
					<div class="cart-item cyc">
				 		<a ng-href="#!/product/{{product.slug}}" > 

				 		<img ng-src="{{product.images[0].url}}" class="img-responsive" alt=""/></a>
					</div>
				   	<div class="cart-item-info">
						<h3>
						     <a ng-href="#!/product/{{product.slug}}" ng-bind="product.title"> </a>
						     <span ng-bind="product.type"></span>
					     </h3>
				 		<span class="item_price">
					 		<h6>
					 			<span class="price-new">{{product.priceFormatted}}</span>
					 			<br/>
					 			<span class="price-old">{{product.priceOldFormatted}}
				 				</span> 
				 			</h6>
			 			</span>
			 			<div ng-if="user" class="btn_form like_btn floatleft">
							<a href=""  ng-click="!alreadyLiked(product.slug)?like(product.slug):dislike(product.slug)">
								<span  class="like_span" ng-bind-html="!alreadyLiked(product.slug)?notStared:stared"> </span>
								
							</a>
						</div>
				 		<div class="clearfix"></div>
				   	</div>
			   		<div class="clearfix"></div>
			  	</div>
		 	</div>
		</div>
		<div class="clearfix"> </div>
	  	
	</div>
</div>
</section>