<ul>
	<li ng-class="{active:user_li}"  class=" padb10 padt10"> <i class="fa fa-user"></i> <a href="#!/user/profile">Update profile</a></li>
	<li  ng-class="{active:order_li}" class=" padb10 padt10" ><i class="fa fa-history"></i> <a href="#!/user/orders">Order history</a></li>
	<li   ng-class="{active:favorite_li}"class=" padb10 padt10" ><i class="fa fa-heart"></i><a href="#!/user/favoritos">Favoritos</a></li>
	<li   ng-class="{active:privacy_li}" class=" padb10 padt10"><i class="fa fa-book"></i><a href="#">Privacidade</a></li>
</ul>
