.tablet-only { display: none !important; }
.desktop-only { display: none !important; }
.desktop-tablet-only { display: none !important; }



.mobile-menu{
  padding-top: 10px;
}
.container{
  padding: 0;
}
div.header_top {
  padding: 0;
  .top_left{
    .navbar-toggle{
      padding: 0;
    }
    .navmenu-nav{
      span{
        color:#000000;
      }
    }
  }

  .top_right{
    .container-expandable-box {
      margin-top: 14px;
      }
  }
}

.products-page{
  .filter_bar{
    .filter{
      h4{
        display: inline-block;
      }
      .col{
        display: inline-block;
      }
    }
  }
  .order_bar{
    .w_nav {
      float:left;
    }
  }

}

ul.icon1 {
	display: none;
}
.create_btn {
	display:none;
}
.top_right h2 {
	font-size: 11px;
	line-height: 2em;
}
.top_left ul li a {
	padding: 0;
	font-size: 11px;
}
.look {
	right: 15px;
}
#loginForm {
	width: 270px;
	background: #fff;
}
.top_left {
  text-align: center;
}
.top_right {
  text-align: center;
}
.reg {
  display: none;
}
#loginContainer a span {
  padding: 2px 10px;
  font-size: 1em;
}
.rgt-bottom {
  margin: 0;
  padding: 0em 0;
}
.log {
  float: left;
  width: 100%;
  display:none;
}
.header_right {
  float: right;
  width: 43%;
  margin: 0 auto;
}
.arriv-info {
  top: 53px;
  left: 10px;
}
.arriv-info1 {
  top: 13px;
  left: 10px;
}
.arriv-right1 {
  width: 100%;
}
.arriv-left2 {
  width: 100%;
}
.arriv-middle {
  width: 100%;
  padding: 0px;
  margin: 1em auto;
}
.arriv-info3 {
  bottom: 82px;
  left: 58px;
}
.arriv-right2 {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
}
.special h3 {
}
.special h3:before {
  width: 64px;
}
.special h3:after {
  width: 64px;
}
.special h5 {
  font-size: 0.8125em;
}
.special h6 {
  font-size: 0.75em;
}
.footer h4 {
  font-size: 0.8em;
}
.cust li a {
  font-size: 0.8em;
}
.abt li a {
  font-size: 0.8em;
}
.myac li a {
  font-size: 0.8em;
}
.cust {
  float: left;
  width: 36.33%;
}
.abt {
  float: left;
  width: 28.33%;
}
.myac {
  float: left;
  width: 35.33%;
}
.our-st li {
  font-size: 0.8em;
}
.cr_btn a {
  padding: 3px 12px;
  font-size: 0.750em;
}
.cr_btn1 a {
  padding: 2px 11px;
  font-size: 0.750em;
}
.contact h2 {
  font-size: 1.1em;
}
.contact-form div {
  padding: 0px 0;
}
.contact-form input[type="text"], .contact-form input[type="email"],.contact-form textarea {
  padding: 6px;
}
.button1 {
  padding: 6px 10px;
  font-size: 13px;
}
.det {
  padding: 3px;
}
.arriv-top {
  margin: 1em 0 0;
}
.arriv-bottm {
  margin: 0em 0;
}
.stay-left {
  float: none;
  width: 100%;
  margin-right: 0;
}
.btn-1 {
  float: none;
  width: 40%;
  margin: 0.5em auto 0;
}
.s-c{
	padding:0;
}
.shoping_left a.btn1 {
  padding: 5px 12px;
  font-size: 0.875em;
}
.contact-form input[type="submit"] {
  font-size: 0.875em;
  padding: 5px 12px;
}
.fooll h5 {
  padding-right: 0em;
  margin-bottom: 0.5em;
}
.s-d{
padding:0;
}
.product-img {
  width: 100%;
  float: none;
  margin: 0 auto;
  text-align: center;
}
.prod1-desc {
  width: 100%;
  float: none;
  text-align: center;
}
.product_price {
  width: 100%;
  float: left;
}
.product-desc {
  width: 100%;
  float: none;
}
.product_price {
  width: 100%;
  float: none;
  text-align: center;
}
.product-desc h5 {
  padding-bottom: 0%;
  padding-top: 2%;
}
.btn_form a {
  font-size: 0.875em;
  padding: 4px 22px;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
ul#etalage{
display: block;
  width: 285px !important;
  height: 533px;
}
li.etalage_magnifier{
  left: 74px !important;
}
h4.title {
  font-size: 1.4em;
}
p.cart {
  font-size: 0.9em;
}
.check-out {
  padding: 3em 0;
}
.s_art li {
  font-size: 0.8125em;
}
.shoping_bag h4 {
  font-size: 0.750em;
}
.shoping_left h4 a {
  font-size: 0.750em;
  line-height: 1.8em;
}
.shoping_left h4 {
  margin-bottom: 5%;
}
.s_icons {
  margin: 4%;
}
.shoping_bag1 {
  padding: 2% 0%;
}
.shoping_bag1 h2 {
  float: none;
}
.our-left {
  margin-bottom: 0.8em;
}
.desc1 h3 {
  font-size: 1.2em;
}
a.cpns {
  padding: 5px;
}
a.order {
  text-align: center;
  margin: 1em 0;
}
.cart-items h1 {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.cart-item-info h3 {
  font-size: 0.875em;
}
.delivery {
  margin-top: 1em;
}
.icons-close_1{
  top: 31px;
}
.delivery p {
  font-size: 0.8125em;
  float: left;
}
.delivery span {
  font-size: 0.8125em;
  float: right;
}
.check {
  padding: 2em 0 0;
}
.user-settings {
  padding: 2em 0 0;
}
.total-item, .cart-items {
  margin-top: 0em;
  padding-bottom: 0em;
}
.total-item, .cart-items {
  padding: 0;
}
.total-item, .cart-items {
  margin: 1em 0 0;
}
.total-item h4 {
  margin-right: 4em;
}
a.cpns {
  padding: 8px 10px;
}
.cart-total {
  padding: 0;
}
.item_add a {
  padding: 7px 10px;
  font-size: 0.8125em;
}
.box_1 {
  width: 100%;
  margin:0;
}
.top_right h2 {
    font-size: 11px;
    line-height: 1.5em;
}
.search{
    display:none;
}
.span1_of_4 {
    width: 46.33333%;
    margin-left:0;
}
.view .mask, .view .content {
    top: 166px;
    left: 102px;
}
.span_3_of_2 {
    width: 100%;
    float:none;
}
.images_3_of_2 {
    width: 100%;
    float: none;
    margin-right: 0;
}
p.prod-desc, p.product_descr {
    font-size: 0.8125em;
}
.product_price {
    width: 26.3333%;
}
.product-desc {
    width: 73.3333%;
}
.shoping_left {
    width: 100%;
    float: none;
    margin: 0;
}
.shoping_right {
    width: 100%;
    float: none;
}
.registration_left {
    float: none;
    width: 100%;
    margin-left: 0;
}
.top_left ul li {
  display: inline-block;
  margin-right: 5px;
}
.top_left ul li a {
  padding: 0px 1px;
  font-size: 11px;
}

.header_right {
  float: right;
  width: 42%;
}
.reg {
  width: 35%;
  margin: 1px 0;
}
.icon1 {
  width: 39%;
  margin: 0px 0;
}
.log {
  width: 45%;
}
.rgt-bottom {
  margin: 0;
  padding:0;
}
ul.icon1 {
  display: none;
}
.arriv-left {
  float: none;
  width: 100%;
  padding-right: 0;
}
.arriv-right {
  float: none;
  width: 100%;
  padding-left: 0px;
  margin: 1em 0;
}
.arriv-info {
  top: 128px;
  left: 88px;
}
.arriv-left1 {
  float: none;
  width: 100%;
  padding: 0;
}
.arriv-right1 {
  float: none;
  width: 80%;
  padding: 0;
  margin: 1em auto;
}
.arriv-left2 {
  float: none;
  width: 80%;
  padding: 0px;
  margin: 0 auto;
}
.arriv-middle {
  float: none;
  width: 80%;
  padding: 0px;
  margin: 1em auto;
}
.arriv-right2 {
  float: none;
  width: 80%;
  padding: 0px;
  margin: 0 auto;
}
.special h3 {
  font-size: 1.1em;
  padding: 0.25em;
}
.special h3:before {
  width: 137px;
  left: 20px;
  top: 26px;
}
.special h3:after {
  width: 137px;
  right: 20px;
  top: 26px;
}
ul.grid_2 li {
  width: 48%;
  float: left;
  margin: 1%;
}
.cust {
  float: left;
  width: 33.33%;
}
.abt {
  float: left;
  width: 33.33%;
}
.myac {
  float: left;
  width: 33.33%;
}
.our-st {
  float: left;
  width: 100%;
  margin: 1.5em 0 0;
}
.footer p{
margin:1em 0 0;
}
.check {
  padding: 2em 0;
}
.user-settings{
  padding: 2em 0;
}
.box_1 p {
  margin: 0em 0.3em 0;
}
.create_btn {
  float: left;
  width: 36%;
}
.box_1 {
  width: 62%;
}
