<section data-ng-controller="CheckOrderController" data-ng-init="orderId()"  >
	<!-- content -->
<div class="container">
	<div class="check">	
	 	<!-- <div class="col-md-2 ">
	 		<ul>
			 	<li><ahref="#!/user/profile">Update profile</a></li>
				<li class="active"><a href="#!/user/orders">Order history</a></li>
				<li ><a href="#!/user/favoritos">Favoritos</a></li>
				<li><a href="#">Privacy</a></li>
		 	</ul>
		</div> -->
		<div class="col-md-10 cart-items">
	 		<h1>Acompanhe sua compra, qualquer dúvida entre em contato com:</h1>
	 		<h1><a href="mail:administrador@musicamise.com">administrador@musicamise.com</a></h1>
	 		<!-- <div ng-hide="newOrders||oldOrders">
		 		<p>
		 			<h1>Você não possui nenhuma Compra :( </h1> 
		 			<h3><a href="#!/products"> Continue Comprando :) </a></h3>
		 		</p>
	 		</div> -->
	 		<h2 ng-show="order">Compra atual</h2>
	 		<div>
	 			<my-bar order='order'></my-bar>
		 	</div>
		</div>
		<div class="clearfix"> </div>
	  	
	</div>
</div>
</section>