@media (max-width:1024px){
	.header_right {
	  float: right;
	  width: 48%;
	}
	.foot-top {
	  padding: 1em 0;
	}
	.fooll h5 {
	  font-size: 1em;
	}
	.footer {
		padding: 2em 0;
		h4 {
			font-size: 1em;
		}
	}
	.customer-footer li a {
	  font-size: 0.9em;
	}
	.about-footer li a {
	  font-size:0.9em;
	}
	.myaccount-footer li a {
	   font-size:0.9em;
	}
	.ourstory-footer li {
	   font-size:0.9em;
	}
}