@media(max-width: 640px){
	.create_btn a {
	padding: 10px 5px;
	font-size: 0.8125em;
}
.span1_of_2 {
	width: 44.33333%;
}
.grid1_of_4 {
	width: 47.22222%;
}
.view .mask, .view .content {
	top: 210px;
	left: 135px;
}
.span_3_of_2 {
	width: 44.3333%;
}
.product-desc {
	width: 78.3333%;
}
.product_price {
	width: 21.3333%;
}
.shoping_right {
	width: 32.333%;
}
.shoping_left {
	width: 63.333%;
}
.reg_fb i {
	padding: 16px 5px;
	font-size: 0.85em;
}
#loginContainer a span {
  padding: 0px 4px;
  font-size: .8em;
}
.reg a {
  font-size: 0.75em;
  color:#E75112;

}
.reg a:focus,
.reg a:active,
.reg a:hover{
	color:#E75112;
}

.reg {
  width: 20%;
  margin: 1px 0;
}
.icon1 li {
  font-size: 0.75em;
}
.icon1 {
  width: 39%;
  margin: 2px 0;
}
.c2 {
  width: 18px;
  height: 24px;
}
.log {
  float: right;
  width: 15%;
}
.create_btn a {
  padding: 3px 5px;
  font-size: 0.7em;
}
.create_btn {
  float: left;
  width: 20%;
}
.icon1 {
  width: 39%;
  margin: 2px 0;
}
.header_right {
  float: right;
  width: 53%;
}
.rgt-bottom {
  margin-bottom: 0.5em;
}
.logo {
  float: left;
  margin: 0.9em 0;
}
.arriv h3 {
  font-size: 1em;
}
.arriv p {
  font-size: 0.8125em;
}
.arriv-info {
  top: 92px;
  left: 7px;
}
.crt-btn a {
  padding: 4px 8px;
  font-size: 0.8125em;
}
.arriv-left {
  float: left;
  width: 50%;
  padding-right: 4px;
}
.arriv-right {
  float: left;
  width: 50%;
  padding-left: 4px;
}
.arriv-info1 {
  top: 48px;
  left: 72px;
}
.arriv-middle {
  float: left;
  width: 33.33%;
  padding: 0 6px;
}
.arriv-right2 {
  float: left;
  width: 33.33%;
  padding-left: 4px;
}
.arriv-left2 {
  float: left;
  width: 33.33%;
  padding-right: 4px;
}
.arriv-info2 {
  bottom: 6px;
  left: 10px;
}
.special h3 {
  font-size: 1.2em;
  width: 26%;
  padding:0.25em;
}
.special h3:before {
  width: 215px;
  left: 20px;
  top: 28px;
}
.special h3:after {
  width: 215px;
  right: 20px;
  top: 28px;
}
.special {
  padding: 1em 0 0;
  position: relative;
}
.specia-top {
  margin: 1em 0;
}
.cust {
  padding: 0 5px;
}
.abt {
 padding: 0 5px;
}
.myac {
  padding: 0 5px;
}
.our-st {
  padding: 0 5px;
}
.cust li a {
  font-size: 0.875em;
}
.abt li a{
	font-size: 0.875em;
}
.myac li a {
  font-size: 0.875em;
}
.our-st li {
  font-size: 0.875em;
}
.footer h4 {
  font-size: 0.8125em;
}
.box_1 {
  margin: 0.15em 0.1em 0;
}
.box_1 h3 { 
  font-size: 0.8125em;
}
.content_box {
  margin-bottom: 1em;
}
.box_1 {
  width: 43%;
}
}