@media (max-width:768px){
	#loginContainer a span {
  padding: 2px 4px;

}
.log {
  float: right;
  width: 15%;
}
.create_btn a {
  padding: 6px 8px;
  font-size: 0.750em;
}
.reg {
  float: left;
  width: 21%;
  margin: 5px 0;
}
.icon1 {
  width: 39%;
  margin: 5px 0;
}
.icon1 li {
  font-size: 0.85em;
}
.create_btn a {
  padding: 6px 8px;
  font-size: 0.750em;
}
.look {
	right: 230px;
}
.span1_of_2 {
	width: 35.33333%;
}
.search input[type="text"] {
	width: 79.33333%;
}
.registration h2 {
	font-size: 1.1em;
}
.icon1 ul {
  top: 24px;
  right: -78px;
}
.arriv-left {
  float: left;
  width: 50%;
}
.arriv-right {
  float: left;
  width: 50%;
}
.arriv p {
  font-size: 0.9em;
}
.arriv h3 {
  font-size: 1.2em;
}
.arriv-info {
  top: 115px;
  left: 40px;
}
.arriv-left1 {
  float: left;
  width: 65%;
}
.arriv-right1 {
  float: left;
  width: 35%;
}
.arriv-right1 {
  float: left;
  width: 32.2%;
  padding: 0;
}
.arriv-left1 {
  float: left;
  width: 67.8%;
}
.arriv-info3 {
  bottom: 24px;
  left: 22px;
}
.arriv-middle {
  float: left;
  width: 33.33%;
  padding: 0 12px;
}
.arriv-right2 {
  float: left;
  width: 33.33%;
}
.arriv-left2 {
  float: left;
  width: 33.33%;
}
i.ars {
  background: url(../images/arrwss.png)no-repeat 16px -1px;
  padding: 0px 33px;
}
.arriv-info2 {
  bottom: 20px;
  left: 16px;
}
.arriv-info1 {
  top: 60px;
  left: 102px;
}
.crt-btn a {
  padding: 4px 8px;
  font-size: 0.85em;
}
.special h3 {
  font-size: 1.3em;
  width: 26%;
}
.special h3:before {
  height: 8px;
  width: 263px;
  left: 20px;
  top: 50px;
}
.special h3:after {
  height: 8px;
  width: 263px;
  right: 20px;
  top: 50px;
}
.special h5 {
  font-size: 0.9em;
}
.special h6 {
  font-size: 0.8125em;
}
.stay {
  margin: 1em 0;
}
.foot-top {
  text-align: center;
}
.our-st {
  float: left;
  width: 44%;
}
.cust {
  float: left;
  width: 21%;
}
.cr_btn a {
  padding: 3px 12px;
  font-size: 0.8125em;
}
.abt {
  float: left;
  width: 16%;
}
.myac {
  float: left;
  width: 19%;
}
.footer h4 {
  font-size: 0.875em;
}
.cr_btn1 a {
  padding: 2px 11px;
  font-size: 0.8125em;
}
.footer p {
  font-size: 0.875em;
  text-align: center;
}
.footer {
  padding: 2em 0 1em;
}
.box_1 {
  width: 41%;
}
}