@media (max-width:800px){
.top_right {
  float: right;
}
.top_left {
  float: left;
}
.top_bg{
	text-align:center;
}
.sidebar {
	margin-top: 2em;
}
.content_text p {
	width:80%;
}
.grid1{
	margin-bottom:2em;
}
.grid1 img{
	display: inline;
}
.look {
	right: 240px;
}	
.w_sidebar {
	margin-bottom: 3em;
}
.view .mask, .view .content {
	top: 141px;
	left: 85px;
}
.shoping_left h4 a {
	font-size: 0.85em;
}
.shoping_left a.btn1 {
	padding: 8px 15px;
	font-size: 1em;
}
.reg_fb i {
	padding: 15px 10px;
	font-size: 1em;
}
.single-bottom2 {
	margin-bottom: 2em;
}
}
