/*--checkout--*/

.checkout-options{
	margin: 100px;
	text-align: center;

	.or{
		label{
			font-size: 14pt;
			&:before{
				content:'-';
				padding: 0 4px;
			}
			&:after{
				content:'-';
				padding: 0 4px;

			}
		}
	}
	label.checkout-btn{
		padding: 20px;
		a{
			color:#fff;
			padding: 20px;
		    background-color: $parceiros-color;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			transition:none;
			
    		&:hover, 
			&:focus {
				color:#fff;
		    	background-color: $parceiros-color-lighter;
				text-decoration: none;
				padding: 22px;
			}
		}

	}
	
	.checkout-options--register{
		label.login{
			padding: 24px;
			a{
		    	background-color: $medium2-color;
		    	&:hover, 
				&:focus {
					color:#fff;
		    		background-color: $medium1-color;
					text-decoration: none;
				}
			}
		}
		label.register{
			a{
			}
		}
	}
	.checkout-options-disclaimer{
		text-align: left;
		margin-left: 38%;
		margin-top: 20px;	
	}
}


.user-settings{
	padding:5em 0;
	.side-bar{
		ul{
			list-style-type: none;
		}
	}
	.user-address{
		padding-top: 10px;
	    width: 30%;
	    text-align: right;
		a{
			cursor: pointer;
		}
		.user-address-box{
			padding: 10px;
		    background-color: $light-gray;
		    border-radius: 10px;
		    text-align: left;
		}
	}
}

.cart h2{
	font-size:1.5em;
	margin-bottom:1em;
}

.cart-sec{
	
	margin-bottom:3em;
}
.cart-item{
	width:20%;
	float:left;
	margin-right:5%;
	
}
.cart-item img{
	width:100%;
}
.cart-item-info{
	width:75%;
	float:left;
	 
}
.check{
	padding:5em 0;
}

.cart-item-info h3{
	font-size:1em;
	font-weight:600;
}
.cart-item-info h3 a{
	color:#000;
}
.cart-item-info h3 span{
	display:block;
	font-weight:400;
	font-size: 0.85em;
  margin: 0.7em 0;
}
.size_3 {
  width:100%;
}
.delivery {
  margin-top: 3em;
}
.delivery p {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: left;
}
.delivery span {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: right;
}
.cart-item-info h4 span{
	font-size:0.65em;
	font-weight:400;
} 

.cart-header {  
  position: relative;  
}
.cart-header2 {  
  position: relative;  
}
a.order {
  background:#00405d;
  padding: 10px 20px;
  
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: 600;
  text-align: center;
  margin:3em 0;
}
a.order:hover{
	background:#615c85;
}
.total-item,.cart-items{
	margin-top:0em;
	padding-bottom:2em;
}

.total-item h3 {
  color: #333;
  font-size: 1.1em;
  margin-bottom: 1em;
}
.total-item h4{
	font-size:0.8em;
	font-weight:600;
	color:#9C9C9C;
	display:inline-block;
	margin-right:6em;
}
a.cpns{
	background:#ff6978;
	color:#fff;
	
	padding: 10px;
  font-size: 0.8em;
	font-weight:600;
}
a.cpns:hover{
	background: #615c85;
}
.total-item p{
	font-size:0.9em;
	font-weight:400;
	margin-top:1em;
	color:#727272;	
}
.total-item p a:hover{
	color:#333;
	text-decoration:underline;
}
a.continue{
	background:#00405d;
	padding:10px 20px;
	
	font-size:1em;
	color:#fff;
	text-decoration:none;
	display: block;
   font-weight: 600;  
   text-align: center;
   margin-bottom:2em;
}
a.continue:hover{
	background:#615c85;
}
ul.total_price{
	padding: 0;
  margin: 1em 0 0 0;
  list-style: none;
}
ul.total_price li.last_price{
	width: 50%;
  float: left;
  
}
ul.total_price li.last_price span{
	font-size: 1.1em;
  color: #000;
}
.price-details{
	border-bottom: 1px solid #DDD9D9;
  padding-bottom: 10px;
}
.price-details h3{
	color:#000;
	font-size:1.2em;
	margin-bottom:1em;
}
.price-details span{
	width: 50%;
  float: left;
 
  font-size: 0.8125em;
  color: #000;
  line-height: 1.8em;
}


.cart-items h1 {
  font-size: 1.5em;
  margin-bottom:2em;
}
a.item_add1 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  /* border-bottom-right-radius: 50%; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px 15px;
  background: url(0) #f54d56;
}
a.item_add1:hover{
	background:rgb(3, 193, 167);
	text-decoration:none;
	color:#fff;
}
.btn_5{
	padding:25px 40px;
	font-size:1.1em;
}
ul.qty{
	padding:0;
	margin:0;
	list-style:none;
}
ul.qty li{
   display: inline-block;
   margin-right: 10%;
}
ul.qty li p{
	font-size:0.8125em;
	color:#555;
}