
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	background: #ffffff;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
@include generatePadding();
@include generateMargin();
@include generateLeft();
@include generateRight();

a:hover, 
a:focus {
	h3{
	  color: white;
  	  font-weight: 600;
	  text-decoration: underline;		
	}
	color:$link-hover-color;
	text-decoration: underline;
}

.top_bg{
	background: $musicamise-color;

}
.header_top{
	padding:15px 0 5px;
}


.top_left{
	float:left;
	color: #ffffff;
	.navmenu{
		h3{
			color:#000000;
		}
	}
	ul{
		padding:0;
		list-style:none;
		li{
			display: inline-block;
			margin-right: 10px;
			a{
				text-align:center;
				padding: 0px 4px;
				text-transform:uppercase;
				font-size:12px;
				display:block;
				color:#ffffff;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}
			a:hover{
				color:$link-hover-color;
				text-decoration: none;
			}
		}
		li:last-child{
			margin-right: 0;
		}
	}
	ul.mainmenu{

		position: absolute;
	    float: left;
		padding-top: 20px;
		li{
			display: block;
			padding: 2.5px 0;
			position: relative;
			z-index: 99999;
			a{
				text-align: start;
				cursor: pointer;
			}
			img{
				width: 60px;
    			z-index: 100;
				&.musicamise{
				    position: absolute;
			        margin-top: 0;
				}
				&.camisas{
				    position: absolute;
			        margin-top: 50px;
				}
				&.other-products{
				    position: absolute;
			        margin-top: 100px;
				}
				&.parceiros{
				    position: absolute;
			        margin-top: 150px;
				} 
				&.contato{
				    position: absolute;
			        margin-top: 200px;
				}
			}
		}
	}

	ul.helpmenu{
		padding-left: 0px;
		white-space: nowrap;
	}
}



.top_right{
	float: right;
	i.icons-entrarfb-mobile{
		border-radius: 10px;
	}
	 h2{
		text-transform:uppercase;
		font-size:12px;
		color:#ffffff;
		span {
			color: #000000;
			margin-right: 0px;
			padding: 1px 10px;
			background: url(../images/phon.png) no-repeat 0px 2px;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
	}
}
.floatleft{
	float:left!important;
}
.floatright{
	float:right!important;
}
.head-t {
  padding: 1em 0;
}

.logo {
  float: left;
  width: 90%;
  padding-left: 20%;
  padding-top: 20px;
  padding-bottom: 35px;
  img{
  	width: 100%;
  }
}

.header_right {
  float: right;
  width: 40%;
}

.rgt-bottom {
  margin-bottom: 1em;
}

.cart h2{
	font-size:1.5em;
	margin-bottom:1em;
}
.box_cart {
	float: right;
	margin: 0.15em 0.1em 0;
	background-color: $light-color;
    border-radius: 10px;
	a:hover h3, a:focus h3 {
	    color: #fff; 
	    text-decoration: none; 
	}
	i{
		display: inline-block;
	}
	h3{
		color: #7A8499;
		float: left;
		color: #000;
		font-size: 28pt;
		float: left;
	}
	p{
		float: right;
		color: #000;
		font-size: 0.85em;
		float: left;
		margin: 0.5em 0.3em 0;
		text-align:left;
	}
}
.facebook{
	img{
		width: 85%;
	    	border-radius: 10px;
	}
}
.create_btn {
	float: right;
	width: 21%;
	a {
		text-transform: capitalize;
		display: inline-block;
		padding: 6px 16px;
		font-size: 0.8725em;
		font-weight:300;
		color: #ffffff;
		background: $medium1-color;
		border-radius: .4em;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		img{
			vertical-align: top;
			margin-top: 3px;
		}
	}
	a:hover{
		background: $medium2-color;
		color:#ffffff; 
		text-decoration:none;
	}
}

.log {
	float: left;
}

.container-expandable-box {
	position:relative;
	margin-top: 7px;
	a{
		span {
			display: block;
			padding: 2px 14px;
			/* border: 1px solid #555; */
			font-weight: 400;
			color:#fff;
			border-radius: .4em;
		}
	}
	
}


/* Login Button */
a.expandable-box-button { 
	display:inline-block;  
	position:relative;
	z-index:30;
	cursor:pointer;
	text-decoration: none;
	span:active,
	span:focus,
	span:hover{
		color:$link-hover-color;
	}
}
.expandable-box {
    position:absolute;
	top: 44px;
	right: -90px;
    display:none;
    z-index:29;

}


/* Login Form */
form.expandable-box-form:after {
		content: '';
		position: absolute;
		right: 110px;
		top: -10px;
		border-left:10px solid rgba(0, 0, 0, 0);
		border-right:10px solid rgba(0, 0, 0, 0);
		border-bottom: 10px solid $link-hover-color;	
}
.user-expandable-box{
    float: left;
	label{
		display: inline-block;
	}
	a.expandable-box-button { 
		color:#fff;
	}
	#userContainer{
		display: inline-block;
		.expandable-box{
		    right: 10px;
		}
		form.expandable-box-form {
			width: 150px;
			ul{
				list-style-type: none;
				padding: 0;
				li{
					padding:10px;
				}
			}
		}
	}
}

form.expandable-box-form {

	width: 260px;
	background: #fff;
	border: 1px solid #d6d6d6;
	fieldset {
		margin:0 0 15px 0;
		display:block;
		border:0;
		padding:0;
	}
	#checkbox {
	    width:auto;
	    margin:3px 6px 0 0;
	    float:left;
	    padding:0;
	    border:0;
	    *margin:-3px 9px 0 0; /* IE7 Fix */
	}
	#body fieldset label{
	    display:block;
	    float:none;
	    margin:0 0 6px 0;
	}
	/* Default Input */
	input {
		&[type=text],&[type=password]{
			width: 100%;
		}
		border:1px solid #DADADA;
		color: #222;
		background:#FFF;
		padding:6px;
		font-size: 0.8125em;
		-webkit-apperance:none;
		font-family: 'Open Sans', sans-serif;
	}
	.notmember{
		float:left;
		span{
			width: 100%;
			padding: 0;
		}
		a{
			padding: 0;
		}
	}

	/* Sign In Button */
	 #login {
		font-family: 'Open Sans', sans-serif;
		width: auto;
		float: right;
		background:$stronger-color ;
		border-radius: .4em;

		color: #fff;
		font-size: 0.8725em;
		padding: 8px 20px;
		border: none;
		margin: 0 12px 0 0;
		cursor: pointer;
		transition: all .5s;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;
	}
	#login:hover {
		background: $medium2-color;
	}
	/* Forgot your password */
	span{
		display:block;
		text-align: center;
		a{
			font-size:0.85em;
			font-weight:500;
			background: none;
			border: none;
			box-shadow: none;
		}
		a:hover,
		a:focus{
			text-decoration:underline;
		}
	}
}

fieldset#body {
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    padding:15px 15px;
    margin:0;
}
#body {
	label {
	    color:#000;
	    margin:10px 0 0 0;
	    display:block;
	    float:left;
	    font-size:0.8725em;
	    i{
			color:#000;
			font-size:1em;
			font-style:normal;
		}
	}
}
ul.megamenu.skyblue {
  background: #f5f5f5;
}
ul.megamenu.musicamise {
  background: $stronger-color;
}
/* start menu */
.menu-expanded{
	background-color: $musicamise-color;
    background-image: linear-gradient(transparent 4%, rgba(255, 255, 255, 0.9) 1%);
    background-size: 50px 30px;
    max-height: 250px;
    min-height: 250px;
  	opacity: 1;


  	&.ng-hide {
	  line-height: 0;
	  opacity: 0;
	}
	&.ng-hide-add, &.ng-hide-remove {
	  transition: all linear 0.1s;
	}

  	i{
  		position: absolute;
  		opacity: 0.35;
  		pointer-events: none 
  	}
  	.menu-itens{
  		padding: 0 60px;
  	}
    .item{
    	float: left;
		padding-left: 50px;

		&:first-child{
			padding-left: 100px;
		}

		.header_nav {
			h4{
				border-bottom: 1px solid rgb(236, 236, 236);
				font-size: 1em;
				color: #000;
				line-height: 1.8em;
				text-transform: uppercase;
				margin-bottom: 4%;
				text-align: center;
			}
			h4.top{
				margin-top: 12%;
			}

			ul {
				li{
					text-align: center;
					display: block;
					
					a{
						text-align: center;
						display: block;
						font-size: 0.95em;
						color: #555;
						text-transform: capitalize;
						line-height: 1.8em;
						-webkit-transition: all 0.3s ease-in-out;
						-moz-transition: all 0.3s ease-in-out;
						-o-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;
						line-height: 2.5em;
					}
					a:hover{
						color:#00405d;
						text-decoration:underline;
					}
				}
			}
		}

    }
}
/**footer**/
.foot-top {
  padding: 1em 0;
  /* border-bottom: 1px solid #e5e4e2;
  border-top: 1px solid #e5e4e2;
   */
   background-color: $musicamise-color;
  	li {
	  display: inline-block;
	  vertical-align: middle;
	}
}

.footer{
    background-color: $musicamise-color;
    background-image: linear-gradient(transparent 4%, rgba(255, 255, 255, 0.9) 1%);
    background-size: 50px 30px;
  	padding: 3em 0;
  	padding-top: 0;
  	i{
  		position: absolute;
  		opacity: 0.35;
  	}
  	li{
      font-size: 1.1em;
      font-weight: 400;

		a{

  		}
  	}
	h4 {
	  color: #3f3d3d;
	  font-family: 'Playfair Display', serif;
	  font-weight: 600;
	  margin: 0 0 1em;
      font-size: 1.5em;
	}
	p {
		margin: 2em 0 0;
	    font-size: 1em;
	    color: #3f3d3d;
	    font-weight: 500;
	    line-height: 1.8em;
		a{
			text-decoration:none;
		}
	}
}

.customer-footer {
	.icon{
		overflow: hidden;
	    zoom:0.5;
	    -moz-transform:scale(0.5);
	    -moz-transform-origin: 0 0;
	}
	li {
		display:block;
		a {
			display: block;
			color: #3f3d3d;
			font-size: 1em;
			line-height: 1.8em;
			text-decoration: none;
		}
		a:hover{
			color:#D03333
		}
	}
}
.about-footer li a {
  display: block;
  color: #3f3d3d;
  font-size: 1em;
  line-height: 1.8em;
  text-decoration: none;
}
.about-footer li a:hover{
	color:#D03333
}


.about-footer li {
display:block;
}



.myaccount-footer{
	li {
		display:block;
	}
	a {
		display: block;
		color: #3f3d3d;
		font-size: 1em;
		line-height: 1.8em;
		text-decoration: none;
	}
	a:hover{
		color:#D03333
	}
}

.ourstory-footer{
	li {
		color: #3f3d3d;
		display: block;
		font-size: 1em;
		font-weight: 300;
		line-height: 2em;
	}
	a{
		text-decoration:none;
	}
	.left-33 {
	  float: left;
	  width: 33.33%;
	}
	.left-22 {
	  float: left;
	  width: 22%;
	  	 
		
	}
}

.creat_button a {
		text-transform: capitalize;
		display: inline-block;
		padding: 3px 25px;
		font-size: 0.9em;
		font-weight: 300;
		color: #3f3d3d;
		background: #e5e4e2;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		text-decoration:none;
}

.creat_button_filled{ 
			a {
				text-transform: capitalize;
				display: inline-block;
				padding: 2px 23px;
				background: none;
				border: 1px solid #e5e4e2;
				font-size: 0.9em;
				font-weight: 300;
				color: #3f3d3d;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				text-decoration:none; 
			}
			a:hover{
				color: #3f3d3d;
				background: #e5e4e2;
				border:1px solid #e5e4e2;
			}
}

.fooll h5 {
  font-size: 1.1em;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  padding-right: 1em;
}



.social-ic {
	ul {
	  	padding: 0;
	}
	li {
		display: inline-block;
		margin: 0 0.2em;
	}
}
i.facebok {
  width: 35px;
  height: 35px;
  background: url(../images/img-sprite.png)no-repeat -8px -10px;
  float: left;
  vertical-align: middle;
}
i.facebok:hover{
  background: url(../images/img-sprite.png)no-repeat -8px -46px;
}
i.twiter {
  width: 35px;
  height: 35px;
  background: url(../images/img-sprite.png)no-repeat -48px -12px;
  float: left;
  vertical-align: middle;
}
i.twiter:hover{
  background: url(../images/img-sprite.png)no-repeat -48px -48px;
}
i.be {
  width: 35px;
  height: 35px;
  background: url(../images/img-sprite.png)no-repeat -133px -10px;
  float: left;
  vertical-align: middle;
}
i.be:hover{
  background: url(../images/img-sprite.png)no-repeat -133px -46px;
}
i.pp {
  width: 35px;
  height: 35px;
  background: url(../images/img-sprite.png)no-repeat -177px -9px;
  float: left;
  vertical-align: middle;
}
i.pp:hover{
  background: url(../images/img-sprite.png)no-repeat -177px -45px;
}
i.goog {
  width: 35px;
  height: 35px;
  background: url(../images/img-sprite.png)no-repeat -92px -13px;
  float: left;
  vertical-align: middle;
}
i.goog:hover{
  background: url(../images/img-sprite.png)no-repeat -92px -48px;
}
i.phone {
  width: 19px;
  height: 21px;
  display: inline-block;
  background: url(../images/img-sprite.png) no-repeat -235px -39px;
  vertical-align: middle;
  margin-right: 0.5em;
}
i.add {
  width: 17px;
  height: 24px;
  display: inline-block;
  background: url(../images/img-sprite.png) no-repeat -236px -11px;
  vertical-align: middle;
  margin-right: 0.5em;
}
i.mail {
  width: 17px;
  height: 14px;
  display: inline-block;
  background: url(../images/img-sprite.png) no-repeat -236px -76px;
  margin-right: 0.5em;
}

