<section data-ng-controller="CheckoutController" data-ng-init="cartInit()"  >
	<!-- content -->
<div class="container">
	<div class="check">	
	 	<div class="col-md-3 cart-total">
		 	<a class="continue" href="#">Continue to basket</a>
		 	<div class="price-details">
				 <h3>Price Details</h3>
				 <span>Total</span>
				 <span class="total1" ng-bind="cart.totalValueItemsFormatted"></span>
				 <span>Discount</span>
				 <span class="total1"  ng-bind="'-' + cart.totalDiscountFormatted"></span>
				 <span>Delivery Charges</span>
				 <span class="total1"  ng-bind="cart.totalShippingFormatted"></span>
				 <div class="clearfix"></div>				 
			 </div>	
		 	<ul class="total_price">
			   <li class="last_price"> <h4>TOTAL</h4></li>	
			   <li class="last_price"><span  ng-bind="cart.totalFormatted"></span></li>
			   <div class="clearfix"> </div>
		 	</ul>
		 	<div class="clearfix"></div>
	 		<a class="order" href="#">Place Order</a>
				<div class="total-item">
		 		<h3>OPTIONS</h3>
		 		<h4>COUPONS</h4>
		 		<a class="cpns" href="#">Apply Coupons</a>
		 		<p><a href="#">Log In</a> to use accounts - linked coupons</p>
			</div>
		</div>
	 	<div class="col-md-9 cart-items">
	 		<h1>My Shopping Bag ({{cart.totalItems}})</h1>
			
 			<div  class="cart-header" ng-repeat="(key,item) in cart.items" >
		 		<script> 
			   	</script>
		 		<div class="close1" ng-click='cartRemoveItem(key)'> </div>
			 	<div class="cart-sec simpleCart_shelfItem">
					<div class="cart-item cyc">
				 		<img src="images/8.jpg" class="img-responsive" alt=""/>
					</div>
				   	<div class="cart-item-info">
						<h3><a href="#" ng-bind="item.product.title"> </a><span ng-bind="item.product.type"></span></h3>
						<ul class="qty">
							<li><p>Size : <label ng-bind="item.size"></label></p></li>
							<li><p>Qty : <input type='number' class='quantity' ng-model='item.quantity' min="0" max="99" ng-change="updateQuantity(key,item.quantity)" ng-value="item.quantity"></p></li>
						</ul>
					 	<div class="delivery">
						 	<p>Service Charges : <label ng-bind="item.product.priceFormatted"></label></p>
						 	<span>Delivered in 2-3 bussiness days</span>
					 		<div class="clearfix"></div>
				        </div>	
				   	</div>
			   		<div class="clearfix"></div>
			  	</div>
		 	</div>
		</div>
		 
		
		<div class="clearfix"> </div>
	</div>
</div>
 <script type="text/javascript">
 	//$('.quantity').spinner();
 </script>

</section>