<!-- content -->
<div class="container" data-ng-controller="CheckoutController" data-ng-init="thankyou()">
	<div class="main">
		<div class="contact">				
		  	<div class="contact-form">
 		  	 	<div>
			    	<span><label>Obrigado por sua compra!</label></span>
			    </div>
			    <div>
			    	<span><label>Obrigado por sua compra!<a href="#!/login"> Login agora! </a></label></span>
			    	<span><label>Poderá Seguir seu produto nesse</label><a href="#!/login">link</a></span>
			    </div>
		    </div>
			<div class="clearfix"></div>		
		</div>
	</div>
</div>