<section data-ng-controller="ProductsSearchController" data-ng-init=""  >
	<!-- content -->
	<style type="text/css">
	.active{
		background-color: red;
	}
	.color.active{
		background-color: transparent;
		border-style: solid;
		border-width: 1px;
		border-color:red;
	}
	</style>
<div class="container">
<div class="women_main">
	<!-- start content -->
	<div class="col-md-12 w_content">
		<!-- grids_of_4 -->
		<div class="grids_of_4" >
			<h3>Produtos em estoque</h3>
		  	<div class="grid1_of_4" ng-repeat="product in productsInStock" >
				<div class="content_box">
					<a ng-href="#!/product/{{product.slug}}">
		   	   	 		<img src="images/w1.jpg" class="img-responsive" alt=""/>
		   		  	</a>
		    		<h4>
	    				<a ng-href="#!/product/{{product.slug}}" ng-bind="product.title">  
		    			</a>
	    			</h4>
			     	<p>{{product.type}} new: {{product.newProduct}}</p>
				 	<div class="grid_1 simpleCart_shelfItem">
					 	<div class="item_add">
					 		<span class="item_price">
						 		<h6>
						 			<span class="price-new">{{product.priceFormatted}}</span>
						 			<br/>
						 			<span class="price-old">{{product.priceOldFormatted}}
					 				</span> 
					 			</h6>
				 			</span>
			 			</div>
						<!-- <div class="item_add"><span class="item_price"><a href="" >add to cart</a></span></div> -->
				 	</div>
			   	</div>
			</div >
			<div ng-if="productsInStock.length===0">
				<p>Nenhum produto encontrado</p>
			</div>		
			<div class="clearfix"></div>
		</div>
	 	<div class="grids_of_4" >
	 		<h3>Produtos para Casa</h3>
		  	<div class="grid1_of_4" ng-repeat="product in productsForHome" >
				<div class="content_box">
					<a ng-href="#!/product/{{product.slug}}">
		   	   	 		<img src="images/w1.jpg" class="img-responsive" alt=""/>
		   		  	</a>
		    		<h4>
	    				<a ng-href="#!/product/{{product.slug}}" ng-bind="product.title">  
		    			</a>
	    			</h4>
			     	<p>{{product.type}} new: {{product.newProduct}}</p>
				 	<div class="grid_1 simpleCart_shelfItem">
					 	<div class="item_add">
					 		<span class="item_price">
						 		<h6>
						 			<span class="price-new">{{product.priceFormatted}}</span>
						 			<br/>
						 			<span class="price-old">{{product.priceOldFormatted}}
					 				</span> 
					 			</h6>
				 			</span>
			 			</div>
						<!-- <div class="item_add"><span class="item_price"><a href="" >add to cart</a></span></div> -->
				 	</div>
			   	</div>
			</div >
			<div ng-if="productsForHome.length===0">
				<p>Nenhum produto encontrado</p>
			</div>		
			<div class="clearfix"></div>
		</div>
		<div class="grids_of_4" >
		 	<h3>Acessórios</h3>
		  	<div class="grid1_of_4" ng-repeat="product in prodcutsAccessories" >
				<div class="content_box">
					<a ng-href="#!/product/{{product.slug}}">
		   	   	 		<img src="images/w1.jpg" class="img-responsive" alt=""/>
		   		  	</a>
		    		<h4>
	    				<a ng-href="#!/product/{{product.slug}}" ng-bind="product.title">  
		    			</a>
	    			</h4>
			     	<p>{{product.type}} new: {{product.newProduct}}</p>
				 	<div class="grid_1 simpleCart_shelfItem">
					 	<div class="item_add">
					 		<span class="item_price">
						 		<h6>
						 			<span class="price-new">{{product.priceFormatted}}</span>
						 			<br/>
						 			<span class="price-old">{{product.priceOldFormatted}}
					 				</span> 
					 			</h6>
				 			</span>
			 			</div>
						<!-- <div class="item_add"><span class="item_price"><a href="" >add to cart</a></span></div> -->
				 	</div>
			   	</div>
			</div >
			<div ng-if="prodcutsAccessories.length===0">
				<p>Nenhum produto encontrado</p>
			</div>		
			<div class="clearfix"></div>
		</div>
		<div class="grids_of_4" >
		 	<h3>Fora de estoque</h3>
		  	<div class="grid1_of_4" ng-repeat="product in productsOutOfStock" >
				<div class="content_box">
					<a ng-href="#!/product/{{product.slug}}">
		   	   	 		<img src="images/w1.jpg" class="img-responsive" alt=""/>
		   		  	</a>
		    		<h4>
	    				<a ng-href="#!/product/{{product.slug}}" ng-bind="product.title">  
		    			</a>
	    			</h4>
			     	<p>{{product.type}} new: {{product.newProduct}}</p>
				 	<div class="grid_1 simpleCart_shelfItem">
					 	<div class="item_add">
					 		<span class="item_price">
						 		<h6>
						 			<span class="price-new">{{product.priceFormatted}}</span>
						 			<br/>
						 			<span class="price-old">{{product.priceOldFormatted}}
					 				</span> 
					 			</h6>
				 			</span>
			 			</div>
						<!-- <div class="item_add"><span class="item_price"><a href="" >add to cart</a></span></div> -->
				 	</div>
			   	</div>
			</div >
			<div ng-if="productsOutOfStock.length===0">
				<p>Nenhum produto encontrado</p>
			</div>			
			<div class="clearfix"></div>
		</div>
		<!-- end grids_of_4 -->
		
		
	</div>
	<div class="clearfix"></div>
	
	<!-- end content -->
</div>
</div>


</section>