<section data-ng-controller="ProductsController" data-ng-init="findOne()">
 <!-- content -->

<link rel="stylesheet" href="plugin/etalage/etalage.css">

<div class="container">
	<!-- start content -->
	<div class="women_main">
		<div class="row single">
			<div class="col-md-12 det">
		  		<div class="single_left">
					<div class="grid images_3_of_2">
						<ul id="etalage">
							<li ng-repeat="image in product.images" >
								<a ng-href="">
									<img class="etalage_thumb_image" ng-src="{{image.url}}" class="img-responsive" />
									<img class="etalage_source_image" ng-src="{{image.url}}" class="img-responsive" title="" />
								</a>
							</li>
							<!-- <li>
								<img class="etalage_thumb_image" src="images/d2.jpg" class="img-responsive" />
								<img class="etalage_source_image" src="images/d2.jpg" class="img-responsive" title="" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="images/d3.jpg" class="img-responsive"  />
								<img class="etalage_source_image" src="images/d3.jpg"class="img-responsive"  />
							</li>
						    <li>
								<img class="etalage_thumb_image" src="images/d4.jpg" class="img-responsive"  />
								<img class="etalage_source_image" src="images/d4.jpg"class="img-responsive"  />
							</li> -->
						</ul>
					 	<div class="clearfix"></div>		
				  	</div>
				  	<div class="desc1 span_3_of_2">
						<h3>{{product.title}}</h3>
						<span class="brand">Modelo: <a href="#">{{product.type}} </a>
						</span>
						<br/>
						<span class="code">Código do Produto : {{product.slug}}</span>
						<p></p>
						<div class="price">
							<span class="text">Preço:</span>
							<span class="price-new">{{product.priceFormatted}}</span>
							<span ng-if="product.priceOldFormatted" ng-bind="product.priceOldFormatted" class="price-old"> </span> 
							<!-- <span class="price-tax">Ex Tax: $90.00</span><br> -->
							<!-- <span class="points"><small>Price in reward points: 400</small></span> -->
							<br/>
						</div>
						<div class="det_nav1">
							<br/>
							<div ng-if="product.inventories.length>0">
							
								<div ng-if="!unico" ng-repeat="(gender, inventoriesByGender) in inventories">

									<h3 ng-bind="gender"></h3>
									<h4>Select a size :</h4>
									<div class="col col-4">
										<!-- <input type="checkbox"> G
										<input type="checkbox" checked>GG -->
										<div ng-repeat="inventory in inventoriesByGender">
											<label class="size-marker">
											    <input name="size" ng-disabled="inventory.quantity<=0"  ng-model="inventoryChecked.id"  value="{{inventory._id}}"  class="fancy-select"  type="radio">
											    <span ng-bind="inventory.size" ></span>

											</label>

										</div>
										<!-- <input type="radio" name="iCheck" checked>GG -->
									</div>	
									<br/>
								</div>
							</div>
							<div ng-if="product.inventories.length<=0">
								Estamos em falta desse projeto, mas não desanime! 
								Peça por aqui:
							</div>
							
							<div class="single-bottom1">
								<h6>Descrição</h6>
								<p class="prod-desc">{{product.description}}</p>
							</div>
						</div>
						
						<div ng-show="product.inventories.length>0" class="btn_form">
							<a href="" ng-class="{disabled:(inventoryChecked.id==='')}" ng-disabled="inventoryChecked.id!==''" ng-click="cartAddItem(inventoryChecked.id)">buy</a>
						</div>

						<br/><br/>
						<div ng-if="user" class="btn_form">
							<a href=""  ng-click="!alreadyLiked(product.slug)?like(product.slug):dislike(product.slug)">
								<span  ng-bind="!alreadyLiked(product.slug)?'Gostei!':'Já Gostei!'"></span>
							</a>
						</div>
						<a ng-if="!user" ng-href="#!/login"><span>Login para favoritar :)</span></a>
			   	 	</div>
          	    	<div class="clearfix"></div>
          	   	</div>
      	    
				<div  ng-if="relatedProducts.length>0" class="single-bottom2">
					<div class="container">
						<h6>Related Products</h6>
						<ul class="grid_2">
							<li ng-repeat="product in relatedProducts">
								<a ng-href="#!/product/{{product.slug}}" ng-mouseenter="picture=true" ng-mouseleave="picture=false">
					   	   	 		<img ng-hide="product.images.length>1&&picture" ng-src="{{product.images[0].url}}" class="img-responsive" alt=""/>
					   	   	 		<img ng-if="product.images.length>1" ng-show="picture" ng-src="{{product.images[1].url}}" class="img-responsive" alt="" />
					   		  	</a>
								<div class="special-info grid_1 simpleCart_shelfItem">
									<h5>{{product.title}}</h5>
									<div class="item_add">
										<span class="item_price">
											<h6>Apenas {{product.priceFormatted}}</h6>
										</span>
									</div>
									<div class="item_add">
										<span class="item_price">
											<a ng-href="#!/product/{{product.slug}}">Ver detalhe</a>
										</span>
									</div>
								</div>
							</li>
							<div class="clearfix"> </div>
				     	</ul>
			     		<br/>
		   	  		</div>
	   	  		</div>
       		</div>	
		</div>
		<div class="clearfix"></div>		
	</div>
	<!-- end content -->
</div>


<script src="plugin/icheck-1.x/icheck.js"></script>
<script type="text/javascript">

			 
			
 
</script>

<script type="text/javascript">
	// $(document).ready(function(){
	// 	  $('input').iCheck({
	// 	    checkboxClass: 'icheckbox_minimal-green',
	// 	    radioClass: 'iradio_minimal-green',
	// 	    increaseArea: '20%' // optional
	// 	  });
	 
	// });
	
</script>
</section>