<section class="single-product-page"  data-ng-controller="ProductSingleController" data-ng-init="findOne()">
 <!-- content -->

<link rel="stylesheet" href="plugin/etalage/etalage.css">

<div class="container">
	<!-- start content -->
	<div class="women_main">
		<div class="row single">
			<div class="col-md-12">
		  		<div class="single_left">
					<div class="grid images_3_of_2">
						<div class="desktop-tablet-only">
							<ul id="etalage">
								<li ng-repeat="image in product.images"  >
									<a ng-href="">
										<i ng-if="!product.newProduct&&product.priceCompareWith>0" class="icon icons-promotion" style="    position: absolute;    top: 0;     right: 0px;"></i>
										<i ng-if="product.newProduct" class="icon icons-new" style="    position: absolute;    top: 0;     right: 0px;"></i>
										<img class="etalage_thumb_image" ng-src="{{image.url}}" class="img-responsive" />
										<img class="etalage_source_image" ng-src="{{image.url}}" class="img-responsive" title="" />
									</a>
								</li>
							</ul>
						</div>
						<div id="owl-demo"  class="owl-carousel mobile-only"  >
			                <div class="item" ng-repeat="image in product.images" ng-init="$last?initProductsCarousel('owl-demo'):angular.noop()">
			                	<a ng-href="" >
									<i ng-if="!product.newProduct&&product.priceCompareWith>0" class="icon icons-promotion" style="    position: absolute;    top: 0;     right: 0px;"></i>
									<i ng-if="product.newProduct" class="icon icons-new" style="    position: absolute;    top: 0;     right: 0px;"></i>
			                		<img class="etalage_thumb_image" ng-src="{{image.url}}" class="img-responsive" />
									<img class="etalage_source_image" ng-src="{{image.url}}" class="img-responsive" title="" />
			            		</a>
			            	</div>
		              	</div>

					 	<div class="clearfix"></div>		
				  	</div>
				  	<div class="desc1 span_3_of_2">
						<h3>{{product.title}}</h3>
						<div class="fb-like" data-href="{{fullUrl}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div><br/>
						<span class="brand">Modelo: <a ng-repeat="type in product.types" href="#">{{type}}{{$last ? '' : ', '}} </a>
						</span>
						<br/>
						<span class="code">Código do Produto : {{product.slug}}</span>
						<p></p>
						<div class="price">
							<span class="text">Preço:</span>
							<span class="price-new">{{product.priceFormatted}}</span>
							<span ng-show="product.priceCompareWith>0" ng-bind="product.priceOldFormatted" class="price-old"> </span> 
							<!-- <span class="price-tax">Ex Tax: $90.00</span><br> -->
							<!-- <span class="points"><small>Price in reward points: 400</small></span> -->
							<br/>
						</div>
						<div class="det_nav1">
							<br/>
							<div ng-if="product.inventories.length>0">
							
								<div ng-if="!unico" ng-repeat="(genderAndType, inventoriesByGenderAndType) in inventories">

									<h3 ng-bind="genderAndType"></h3>
									<h4>Selecione um tamanho:</h4>
									<div class="col col-4">
										<!-- <input type="checkbox"> G
										<input type="checkbox" checked>GG -->
										<div class="size-marker" ng-repeat="inventory in inventoriesByGenderAndType">
											<label  >
											    <input name="size" ng-disabled="inventory.quantity<=0"  ng-model="inventoryChecked.id"  value="{{inventory._id}}"  class="fancy-select"  type="radio">
											    <span ng-bind="inventory.size" ></span>

											</label>

										</div>
										<!-- <input type="radio" name="iCheck" checked>GG -->
									</div>	
									<br/>
								</div>
							</div>
							<div ng-if="product.inventories.length<=0">
								<p>
								Estamos em falta desse produto, mas não desanime! 
								</p>
								<p>
								Peça por <button type="button" class="btn btn-warning btn-sm margt10 margb10" data-toggle="modal" data-target="#pedirCamisa">AQUI</button>
								</p>

							</div>
							
							<div class="single-bottom1">
								<h6>Descrição</h6>
								<p class="prod-desc">{{product.description}}</p>
							</div>
						</div>
						
						<div ng-hide="!product.canBuy||product.inventories.length<=0" class="btn_form margr20 floatleft">
							<a href="" ng-class="{disabled:(inventoryChecked.id==='')}" ng-disabled="inventoryChecked.id!==''" ng-click="cartAddItem(inventoryChecked.id)">Comprar</a>
						</div>
						<div ng-if="Authentication.user" class="btn_form like_btn floatleft">
							<a href=""  ng-click="!alreadyLiked(product.slug)?like(product.slug):dislike(product.slug)">
								<span  class="like_span" ng-bind-html="!alreadyLiked(product.slug)?notStared:stared"> </span>
								
							</a>
						</div>
						<a ng-if="!Authentication.user" class="margt20 floatleft" ng-href="#!/login">
						Login para favoritar :)
						</a>
			   	 	</div>
          	    	<div class="clearfix"></div>
          	   	</div>
      	    
				<div  ng-if="relatedProducts.length>0" class="single-bottom2">
					<div class="container">
						<h6>Produtos relacionados</h6>
						<div id="owl-demo1" class="owl-carousel"  >
			                <div class="item" ng-repeat="product in relatedProducts" ng-init="$last?initProductsCarousel('owl-demo1'):angular.noop()">
			                	<a ng-href="/#!/product/{{product.slug}}" ng-click="clickGArelacionados(product.slug)" ng-mouseenter="picture=true" ng-mouseleave="picture=false" >
			                		<i ng-if="!product.newProduct&&product.priceCompareWith>0" class="icon icons-promotion" style="    position: absolute;    top: 0;     right: 15px;"></i>
									<i ng-if="product.newProduct" class="icon icons-new" style="    position: absolute;    top: 0;     right: 15px;"></i>
			                		<img ng-hide="product.images.length>1&&picture" ng-src="{{product.images[0].url}}"   class="img-responsive" alt="product.title"/>
				   	   	 			<img ng-if="product.images.length>1" ng-show="picture" ng-src="{{product.images[1].url}}"   class="img-responsive" alt="product.title" />
			            		</a>
		            		 	<!-- <p ng-if="image.subtitle" ng-bind="image.subtitle"></p> -->
		            		 	<div class="special-info grid_1 simpleCart_shelfItem">
									<h5 ng-bind="product.title"></h5>
									<div class="item_add">
										<span class="item_price">
											<h6 >APENAS 
											<span ng-bind="product.priceFormatted"></span><br/>
											<span ng-show="product.priceCompareWith>0" class="price-old">{{product.priceOldFormatted}} </span>
											</h6>

										</span>
									</div>
								</div>
			            	</div>
		              	</div>

						<!-- <ul class="grid_2">
							<li ng-repeat="product in relatedProducts">
								<a ng-href="#!/product/{{product.slug}}" ng-mouseenter="picture=true" ng-mouseleave="picture=false">
					   	   	 		<img ng-hide="product.images.length>1&&picture" ng-src="{{product.images[0].url}}" class="img-responsive" alt=""/>
					   	   	 		<img ng-if="product.images.length>1" ng-show="picture" ng-src="{{product.images[1].url}}" class="img-responsive" alt="" />
					   		  	</a>
								<div class="special-info grid_1 simpleCart_shelfItem">
									<h5>{{product.title}}</h5>
									<div class="item_add">
										<span class="item_price">
											<h6>Apenas {{product.priceFormatted}}</h6>
										</span>
									</div>
									<div class="item_add">
										<span class="item_price">
											<a ng-href="#!/product/{{product.slug}}">Ver detalhe</a>
										</span>
									</div>
								</div>
							</li>
							<div class="clearfix"> </div>
				     	</ul> -->
			     		<br/>
		   	  		</div>
	   	  		</div>
       		</div>	
		</div>
		<div class="clearfix"></div>		
	</div>
	<!-- end content -->
</div>
<!-- Modal -->
<div class="modal fade" id="pedirCamisa" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Quero essa camisa!</h4>
				<p>Coloque seu email, para receber uma notificação quando essa camisa ficar disponível!</p>
			</div>
			<div class="modal-body">
				<div class="registration_form" >
					<!-- Form -->
					<form id="registration_form" name="formNewPassword"  novalidate autocomplete="off">
						<div ng-show="error||success" class="text-center text-danger">
							<strong ng-bind="error||success"></strong>
						</div>
						<div ng-hide="error||success">
							<div >
								<label>
									<input placeholder="email:" name="email"  data-ng-model="user.email" type="email" tabindex="2" required>
								</label>
								<div ng-show="formNewPassword.email.$touched&&(formNewPassword.email.$error.email||formNewPassword.email.$error.required)">Fale seu email.
								</div>
							</div>
							<div>
								<input type="submit" ng-class="{disabled:formNewPassword.$invalid}" ng-disabled="formNewPassword.$invalid" ng-click="sendPedido(user.email)" value="Enviar" >
							</div>
						</div>
						
					</form>
					<!-- /Form -->
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>


<script src="plugin/icheck-1.x/icheck.js"></script>
<script type="text/javascript">

			 
			
 
</script>

<script type="text/javascript">
	// $(document).ready(function(){
	// 	  $('input').iCheck({
	// 	    checkboxClass: 'icheckbox_minimal-green',
	// 	    radioClass: 'iradio_minimal-green',
	// 	    increaseArea: '20%' // optional
	// 	  });
	 
	// });
	
</script>
</section>