<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="public/images/musicamise_marca.svg">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="public/images/musicamise_marca.svg">

	<!-- Fav Icon -->
	<!-- <link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon"> -->

	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

	

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- fonts -->
	<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>

</head>

<body class="ng-cloak">
	<!--<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header> -->

	
	
	<div data-ng-include="'/modules/core/views/header.client.view.html'" class="header"></div>

	<section class="content">
		<section class="container">
			{% block content %}{% endblock %}
		</section>
	</section>


	<div class="foot-top">
			<!-- <div class="container">
				<div class="col-md-6 padding-0">
					<li>
						<div class="fooll">
							<h5>follow us on</h5>
						</div>
					</li>
					<li>
						<div class="social-ic">
							<ul>
								{% if content.facebook!=null %}
								<li><a ng-href="{{content.facebook}}"><i class="facebok"> </i></a></li>
								{% endif %}
								{% if content.twitter!=null %}
								<li><a ng-href="{{content.twitter}}"><i class="twiter"> </i></a></li>
								{% endif %}
								{% if content.gPlus!=null %}
								<li><a ng-href="{{content.gPlus}}"><i class="goog"> </i></a></li>
								{% endif %}
	 							{% if content.instagram!=null %}
								<li><a ng-href="{{content.instagram}}"><i class="be"> </i></a></li>
								{% endif %}
								<div class="clearfix"></div>
							</ul>
						</div>
					</li>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 padding-0">
					<div class="stay">
								<div class="stay-left">
									<form>
										<input type="text" placeholder="Enter your email to join our newsletter" required="">
									</form>
								</div>
								<div class="btn-1">
									<form>
										<input type="submit" value="join">
									</form>
								</div>
									<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div> -->
	</div> 
	<div class="footer">

		<i class="fa fa-music fa-4x rightpercent10 padtpercent6"></i>
		<i class="fa fa-music fa-3x rightpercent20 padtpercent16"></i>
		<i class="fa fa-music fa-4x rightpercent40 padtpercent5"></i>
		<i class="fa fa-music fa-5x rightpercent50 padtpercent2"></i>
		<i class="fa fa-music fa-5x leftpercent10 padtpercent12"></i>
		<i class="fa fa-music fa-2x leftpercent20 padtpercent13"></i>
		<i class="fa fa-music fa-4x leftpercent40 padtpercent15"></i>

		<a href="/#!/"><img src="/images/Musicamise_site_Curvas.png" width="20%" class="img-responsive padb20" alt=""/> </a>
		<div class="container">
			<div class="col-sm-4 customer-footer">
				<h4>Área do Cliente</h4>
				<li><a href="/#!/centrodeajuda">Centro de ajuda</a></li>
				<li><a href="/#!/faq">FAQ</a></li>
				<li><a href="/#!/comocomprar">Como comprar</a></li>
				<li><a href="/#!/politicas">Regras de entrega e Politicas de trocas</a></li>
			</div>
			<div class="col-sm-4 customer-footer">
				<h4>Formas de Pagamento</h4>
				<div  class="img-responsive icon icons-pagseguro_info"> </div>
			</div>
			<div class="col-sm-4 customer-footer">
				<h4>Institucional</h4>
				<li><a href="/#!/quemsomos">Quem Somos</a></li>
				<li><a href="/#!/missao">Missao, visão e valores</a></li>
				<li><a href="/#!/trabalheconosco">Trabalhe conosco</a></li>
			</div>
			<!-- <div class="col-md-3 customer-footer">
				<h4>Área do Cliente</h4>
				<li><a href="/#!/centrodeajuda">Centro de ajuda</a></li>
				<li><a href="/#!/faq">FAQ</a></li>
				<li><a href="/#!/comocomprar">Como comprar</a></li>
				<li><a href="/#!/politicas">Regras de entrega e Politicas de trocas</a></li>
			</div>
			<div class="col-md-2 about-footer">
				<h4>Sobre Nós</h4>
				<li><a href="/#!/quemsomos">Quem somos</a></li>
				<li><a href="/#!/contact">Contato</a></li>
			</div>
			<div class="col-md-2 myaccount-footer">
				<h4>Minha Conta</h4>
				{% if user==null %}
					<li><a href="/#!/login">Registrar</a></li>
				{%endif%}
				<li><a href="/#!/cart">Meu carrinho</a></li>
				{% if user!=null %}
					<li><a href="/#!/user/orders">Historico de compras</a></li>
				{%endif%}
				<li><a href="#">Formas de Pagamento (imagem do pagseguro e das operadoras de cartão)</a></li>
			</div>
			<div class="col-md-5 ourstory-footer">
				<div class="left-33">
					<h4>Nossa Loja</h4>
				</div>
				<div class="left-22">
					<div class="creat_button">
						<a href="#">SOLO</a>
					</div>
				</div>
				<div class="left-22">
					<div class="creat_button_filled">
						<a href="#">BOGOR</a>
					</div>
				</div>
				<div class="clearfix"> </div>
				<li><i class="add"> </i>Rua Guaianases, cep:52031-300 </li>
				<li><i class="phone"> </i>(81) 9 96995060</li>
				<li><a href="mailto:{{content.email}}"><i class="mail"> </i>{{content.email}} </a></li>
			</div> -->
			<div class="clearfix"> </div>
			<p>Copyrights © 2015 Musicamise. Todos os direitos reservados</a></p>
		</div>
	</div>
	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};

	</script>

	<!--
	<script src="plugin/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="plugin/jquery-ui-1.11.4.custom/jquery-ui.min.css">
	-->



	
	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %} 


	<!--
	<script type="text/javascript" src="plugin/js/megamenu.js"></script>
	<script src="plugin/js/menu_jquery.js"></script>
	-->

	{% if process.env.NODE_ENV === 'development' %}
		<!--Livereload script rendered -->
		<script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
	{% endif %}
</body>

</html>